In [1]:
# Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
import re
txt = 'Python Exercises, PHP exercises.'
x = re.sub('[, .]',':',txt)
print(x)

Python:Exercises::PHP:exercises:

In [5]:
#Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.
def word_finder(String):
    regex_pattern = re.compile('\w{4}')
    word = regex_pattern.findall(string)
      
        
    return word
        
     
    
string ='We have the best Data Science Training ever.'
print(word_finder(string))

['have', 'best', 'Data', 'Scie', 'Trai', 'ning', 'ever']

In [6]:
#Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.
def word_finder345(String):
    regex_pattern = re.compile('\w{3,6}.')
    word = regex_pattern.findall(string)
      
        
    return word
        
     
    
string ='We have the best Data Science Training ever.'
print(word_finder345(string))

['have ', 'the ', 'best ', 'Data ', 'Science', 'Trainin', 'ever.']

In [27]:
#Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
def remove_parenthesis(string):
    regex_pattern= re.compile("\(|\)")
    pattern = [regex_pattern.sub(" ",s)for s in string]
    
    
    return pattern

string = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(remove_parenthesis(string))

['example  .com ', 'hr@fliprobo  .com ', 'github  .com ', 'Hello  Data Science World ', 'Data  Scientist ']

In [37]:
# split string into on basis of uppercase
import re

def split_uppercase(text):
            pattern = r'(?=[A-Z])'

   
            splitted_words =re.split(pattern, text)

            return splitted_words


sample_text = "ImportanceOfRegularExpressionsInPython"
x = split_uppercase(sample_text)
print(x)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [48]:
#Create a function in python to insert spaces between words starting with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

def spaces(text):
   
    pattern = '(?<=\d)(?=[A-Za-z])'

    
    result = re.sub(pattern, '  ', text)

    return result


Input = "RegularExpression1IsAn2ImportantTopic3InPython"
x = spaces(Input)
print(x)

RegularExpression1  IsAn2  ImportantTopic3  InPython

In [49]:
# Create a function in python to insert spaces between words starting with capital letters or with numbers.
def spaces_n_l(text):
   
    pattern = '(?<=\d)(?=[A-Z])|(?<=[A-Z])(?=[A-Z][a-z])|(?<=[a-z])(?=\d)'

    
    result = re.sub(pattern, '  ', text)

    return result


Input = "RegularExpression1IsAn2ImportantTopic3InPython"
x = spaces_n_l(Input)
print(x)

RegularExpression  1  IsAn  2  ImportantTopic  3  InPython

In [50]:
#dataframe from github link
import pandas as pd
import numpy as np
import re
data = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [51]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [52]:
data['First_five_letters'] = data['Country'].str[:6]
data['First_five_letters']

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: First_five_letters, Length: 158, dtype: object

In [56]:
# Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
import re
string = 'Hello_World'
pattern = '^[a-zA-Z0-9_]+$'
match = re.match(pattern, string)

if re.match(pattern, string):
    print(' matches the pattern.')
else:
    print('does not match')

 matches the pattern.

In [60]:
#Write a Python program where a string will start with a specific number.
s = "12345abc"
n = 12345


if s.startswith(str(n)):
    print('The string "{s}" starts with the number {n}.')
else:
    print('The string "{s}" does not start with the number {n}.')

The string "{s}" starts with the number {n}.

In [79]:
import re

text = ' On August 15th 1947 that India was declared independent  leaders of the Country'

pattern = '(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b'


date = re.search(pattern, text)


if date ==True:
    
    print("Matched date string:", date_string)
else:
    print("No date string found.")

No date string found.

In [83]:
#Write a Python program to search some literals strings in a string. 
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox', 'dog', 'horse'
import re
text = 'The quick brown fox jumps over the lazy dog.'

words = ['fox', 'dog', 'horse']

for word in words:
    if word in text:
        print('found in the sample text.')
    else:
        print( 'not found in the sample text.')

found in the sample text.
found in the sample text.
not found in the sample text.

In [89]:
#Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox'

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_word = 'fox'
index = sample_text.find(searched_word)
if index != -1:
    print('The word', {searched_word},' was found at index', {index},' in the sample text.')
else:
    print('The word',{searched_word},' was not found in the sample text.')

The word {'fox'}  was found at index {16}  in the sample text.

In [90]:
#Question 17- Write a Python program to find the substrings within a string.
#Sample text : 'Python exercises, PHP exercises, C# exercises'
#Pattern : 'exercises'.

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

substrings = text.split(pattern)

substrings = [substring for substring in substrings if substring]

# Print the substrings
print("Substrings found within the string:")
for substring in substrings:
    print(substring.strip())

Substrings found within the string:
Python
, PHP
, C#

In [93]:
#Write a Python program to find the occurrence and position of the substrings within a string.
sample_text = 'Python exercises, PHP exercises, C# exercises'
substring = 'exercises'

start_index = 0
occurrences = []

while True:
    index = sample_text.find(substring, start_index)
    if index == -1:
        break
    occurrences.append(index)
    start_index = index + 1

if occurrences:
    print("The substring ",{substring}," was found ",{len(occurrences)}," times.")
    print("Positions of occurrences:")
    for i, position in enumerate(occurrences, start=1):
        print(f"Occurrence {i}: position {position}")
else:
    print("The substring '{substring}' was not found in the sample text.")

The substring  {'exercises'}  was found  {3}  times.
Positions of occurrences:
Occurrence 1: position 7
Occurrence 2: position 22
Occurrence 3: position 36

In [94]:
#Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

from datetime import datetime

date_string = '2022-01-15'

date_object = datetime.strptime(date_string, '%Y-%m-%d')

formatted_date_string = date_object.strftime('%d-%m-%Y')

print("Original date:", date_string)
print("Converted date:", formatted_date_string)

Original date: 2022-01-15
Converted date: 15-01-2022

In [97]:
# Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
#Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
#Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

import re
def decimal_numbers(text):
    
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    decimal_numbers = pattern.findall(text)
    return decimal_numbers


text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = decimal_numbers(text)
print("Decimal numbers with a precision of 1 or 2:")
print(result)

Decimal numbers with a precision of 1 or 2:
['01.12', '145.8', '3.01', '27.25', '0.25']

In [99]:
#Write a Python program to separate and print the numbers and their position of a given string.
string = "abc123def456ghi789"


for i, char in enumerate(string):
    
    if char.isdigit():
        
        print(f"Number: {char}, Position: {i+1}")

Number: 1, Position: 4
Number: 2, Position: 5
Number: 3, Position: 6
Number: 4, Position: 10
Number: 5, Position: 11
Number: 6, Position: 12
Number: 7, Position: 16
Number: 8, Position: 17
Number: 9, Position: 18

In [106]:
#Write a regular expression in python program to extract maximum/largest numeric value from a string.
#Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
#Expected Output: 950

import re
text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\b\d+\b'
numeric_values = [int(num) for num in re.findall(pattern, text)]
max_value = max(numeric_values)

print("Maximum numeric value:", max_value)

Maximum numeric value: 950

In [113]:
#Create a function in python to insert spaces between words starting with capital letters.
#Sample Text: “RegularExpressionIsAnImportantTopicInPython"
#Expected Output: Regular Expression Is An Important Topic In Python
import re

def insert_spaces(text):
    
    words = re.findall(r'[A-Z][a-z]*', text)
   
    spaced_text = ' '.join(words)
    return spaced_text


sample_text = "RegularExpressionIsAnImportantTopicInPython"


result = insert_spaces(sample_text)

print("Original Text:", sample_text)
print("After inserting spaces:", result)

Original Text: RegularExpressionIsAnImportantTopicInPython
After inserting spaces: Regular Expression Is An Important Topic In Python

In [116]:
#Python regex to find sequences of one upper case letter followed by lower case letters

import re


sample_text = "Data Science Internship Program is going on."


pattern = r'[A-Z][a-z]+'


sequences = re.findall(pattern, sample_text)


print("Sequences of one upper case letter followed by lower case letters:")
print(sequences)

Sequences of one upper case letter followed by lower case letters:
['Data', 'Science', 'Internship', 'Program']

In [118]:
#Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
#Sample Text: "Hello hello world world"
#Expected Output: Hello hello world

import re

def remove_duplicates(sentence):
   
    pattern = r'\b(\w+)(\s+\1)+\b'

    
    result = re.sub(pattern, r'\1', sentence)

    return result

sample_text = "Hello hello world world"

output = remove_duplicates(sample_text)
print(output)

Hello hello world

In [30]:
#-  Write a python program using RegEx to accept string ending with alphanumeric character.
import re
text = 'abcde fgtyhgg 123jkj4'
pattern = '[a-zA-Z0-9]' 

if re.match(pattern, text):
    print("String ends with an alphanumeric character.")
else:
    print("String does not end with an alphanumeric character.")

String ends with an alphanumeric character.

In [36]:
#Write a python program using RegEx to extract the hashtags.
#Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
#Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

import re
text = '"""" RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""'
pattern = '#\w+'
x = re.findall(pattern, text)
print(x)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [37]:
#- Write a python program using RegEx to remove <U+..> like symbols
##Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
#Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

import re
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = '<U\+[0-9A-Fa-f]+>'
x = re.sub(pattern," ", text)
print(x)

@Jags123456 Bharat band on 28??<ed>  <ed>  Those who  are protesting #demonetization  are all different party leaders

In [8]:
#Write a python program to extract dates from the text stored in the text file.
#Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
#Note- Store this sample text in the file and then extract dates.

import re

with open("sample_text.txt", "w") as file:
    file.write("Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.")


    with open('sample_text.txt', 'r') as file:
        text = file.read()
        

        date_pattern = '\b\d{2}-\d{2}-\d{4}\b'

    
    dates = re.findall(date_pattern, text)
print(dates)

[]

In [12]:
#Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
#Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
# Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

import re
def remove_two_four_words(txt):
    
    pattern = re.compile(r'\b\w{2,4}\b')
    
    result = pattern.sub('', txt)
    return result

Text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
x = remove_two_four_words(Text)
print(x)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.